
<h1 class="title">¡Bienvenido a la App para gestionar tus tareas!</h1>

<div class="presentation">
    <p>
        Hola, mi nombre es Danilo Rivero Pérez y he diseñado una aplicación
        para gestionar las tareas del día a día. Las tareas se guardan en una base de datos 
        (FireStore) y además se ha hecho uso de la carga perezoza (lazy load) para mejorar el rendimiento
        de la aplicación. 
        Con esta aplicación, se pueden crear nuevas tareas, editar las tareas, eliminar tareas, ver el listado
        de tareas y completar o descompletar tareas pendientes o completadas,
        respectivamente. Para acceder al listado de tareas se puede realizar de dos
        formas: Haciendo <strong>clic en el botón de más abajo llamado "Ir al TodoList"</strong>
        o bien, <strong>accediendo a tráves del menú de navegación a "ToDo List"</strong>.
        Un saludo y espero que les guste.
    </p>
</div>

<div class="button-section">
    <button routerLink="/tasks/lista" mat-raised-button color="primary">Ir al Todo List</button>
</div>

<div class="image">
    <img src="../../../assets/images/todo-list.png" alt="ToDo List Logo">
</div>
