
<h1 class="title">¡Bienvenido a la App para gestionar tus tareas!</h1>

<div class="presentation">
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam accusamus, inventore, saepe fuga soluta, 
        fugit iusto quo tenetur cumque voluptas doloribus repellat atque et reprehenderit tempora incidunt perferendis
         ullam aliquid.
    </p>
</div>

<div class="button-section">
    <button routerLink="/tasks/lista" mat-raised-button color="primary">Ir al Todo List</button>
</div>

<div class="image">
    <img src="../../../assets/images/todo-list.png" alt="ToDo List Logo">
</div>
